[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_08001D000951333235393937-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[stepper_x]
step_pin: PD4
dir_pin: PD3
enable_pin: !PD6
microsteps: 16
rotation_distance: 40
endstop_pin: ^PD7
position_endstop: 0
position_max: 200

[tmc4671 stepper_x]
# SPI
cs_pin: PD0
spi_bus: spi2
spi_speed: 8000000
# Current Sense
current_scale_ma_lsb: 1.272
# Currents
run_current: 3.5
flux_current: 0.02
allow_no_motor_current: True
# Motor Info
foc_motor_type: 2
foc_n_pole_pairs: 50
# TMC4671 Settings
foc_pwm_sv: 0
foc_adc_i_ux_select: 0
foc_adc_i_v_select: 2
foc_adc_i_wy_select: 1
foc_phi_e_selection: 3
foc_position_selection: 9
foc_velocity_selection: 9
# Encoder
foc_abn_decoder_ppr: 4000
foc_abn_direction: 1
# PID
foc_pid_flux_p: 17.1
foc_pid_flux_i: 0.067
foc_pid_torque_p: 17.1
foc_pid_torque_i: 0.067
foc_pid_velocity_p: 1.07063
foc_pid_velocity_i: 0.00498
foc_pid_position_p: 1.27522
foc_pid_position_i: 0.00125
# Biquad Filter
biquad_flux_frequency: 0
biquad_torque_frequency: 0
biquad_velocity_frequency: 0
biquad_position_frequency: 0

[kalico_follower_stepper stepper_x1]
step_pin: PC12
dir_pin: PC11
enable_pin: !PD1
microsteps: 16
rotation_distance: 40
kinematics: cartesian
axis: x

[tmc4671 stepper_x1]
# SPI
cs_pin: PD2
spi_bus: spi2
spi_speed: 8000000
# Current Sense
current_scale_ma_lsb: 1.272
# Currents
run_current: 3.5
flux_current: 0.02
allow_no_motor_current: True
# Motor Info
foc_motor_type: 2
foc_n_pole_pairs: 50
# TMC4671 Settings
foc_pwm_sv: 0
foc_adc_i_ux_select: 0
foc_adc_i_v_select: 2
foc_adc_i_wy_select: 1
foc_phi_e_selection: 3
foc_position_selection: 9
foc_velocity_selection: 9
# Encoder
foc_abn_decoder_ppr: 4000
foc_abn_direction: 1
# PID
foc_pid_flux_p: 17.1
foc_pid_flux_i: 0.067
foc_pid_torque_p: 17.1
foc_pid_torque_i: 0.067
foc_pid_velocity_p: 1.07063
foc_pid_velocity_i: 0.00498
foc_pid_position_p: 1.27522
foc_pid_position_i: 0.00125
# Biquad Filter
biquad_flux_frequency: 0
biquad_torque_frequency: 0
biquad_velocity_frequency: 0
biquad_position_frequency: 0

[tmc4671_sync awd_x_axis]
leader: stepper_x
follower: stepper_x1
follower_stepper: stepper_x1
sync_rate: 5000
trajectory_rate: 2500



[display_status]

[pause_resume]

[gcode_macro AWD_SYNC_START]
gcode:
    SYNC_START_AWD_X_AXIS

[gcode_macro AWD_SYNC_STOP]
gcode:
    SYNC_STOP_AWD_X_AXIS

[gcode_macro AWD_DUMP_STATS]
gcode:
    DUMP_SYNC_AWD_X_AXIS

[temperature_sensor Ouroboros_MCU_Temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 80

[stepper_y]
step_pin: PE0
dir_pin: PE1
microsteps: 16
rotation_distance: 40
endstop_pin: ^PE2
position_endstop: 0
position_max: 200

[stepper_z]
step_pin: PE3
dir_pin: PE4
microsteps: 16
rotation_distance: 40
endstop_pin: ^PE5
position_endstop: 0
position_max: 200

[temperature_sensor Ouroboros_TMC1_MOS_Temp]
sensor_type: Generic 3950
sensor_pin: PC4
pullup_resistor: 4700
min_temp: 0
max_temp: 100

[temperature_sensor Ouroboros_TMC2_MOS_Temp]
sensor_type: Generic 3950
sensor_pin: PC5
pullup_resistor: 4700
min_temp: 0
max_temp: 100
